SECRET_KEY=YOUR_SECRET_KEY_FOR_HASHES
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
MAX_TAGS_COUNT=30

DATABASE_URL=YOUR_DATABASE_URL

DEBUG=False

REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT
